.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-init {
    font-weight: 800;
    font-size: 36px;
}

.header__end {
    display: flex;
    justify-content: center;
    align-items: center;
}