.navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navigation__list-elem {
    margin-right: 50px;
    
    &:hover {
        color: #9299a1;
    }

    &:last-child {
        margin-right: 0;
    }
}