.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__link {
  width: 25px;
  height: 31px;
  display: block;
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
    fill: #9299a1 ;

    &:hover {
        fill: #ffffff;
    }
}

.header__social {
   @include phones {
        display: none;
    }
}