section.section.section__feedback
    .container.feedback__container
        .section__feedback-headline
            h2.headline_second-level.feedback__headline Связаться со мной
        form.form(action="#")
            .form__row
                label.form__block(for="")
                    .form__title Введите ваше имя
                    .form__input-container
                        .form__input-icon
                            +icon(`user`, 'form__input-svg')
                        input.form__input-elem(type="text", name="name" required)
                label.form__block(for="")
                    .form__title Введите ваш email
                    .form__input-container
                        .form__input-icon
                            +icon(`envelope`, 'form__input-svg')
                        input.form__input-elem(type="email", name="name" required)
            .form__row
                label.form__block(for="")
                    .form__title Сообщение к письму
                    .form__input-container
                        .form__input-icon
                            +icon(`message`, 'form__input-svg')
                        textarea.form__input-elem(name="comment" required)
            .btn__send  
                button.button(type='submit')
                    .btn__text Отправить
