section.section.section__skills(data-link="section__skills")
  .skills__hands-and-keyboard
    +image('content/hands.png', 'hands-and-keyboard')
  .container.skills__container
    .useful
      h3.headline-third-level Чем я могу быть полезен вам
      p.useful__paragraph
        | Этот сайт я сделал в рамках обучения в школе онлфйн образования 
        br
        |             LoftSchool. Чуть позже я освежу в нем свой контент. А пока 
        br
        |             посмотрите как тут все классно икрасиво!
    #skills-component
  
     
