section.section.section__my-works#section__my-works(data-link="section__my-works")
    .container.my-works__container
        h2.headline_second-level.my-works__headline Мои работы
        #slider-component
        
                         