section.section.section__skills
  .skills__hands-and-keyboard
    +image('content/hands.png', 'hands-and-keyboard')
  .container.skills__container
    .useful
      h3.headline-third-level Чем я могу быть полезен вам
      p.useful__paragraph
        | Этот сайт я сделал в рамках обучения в школе онлфйн образования 
        br
        |             LoftSchool. Чуть позже я освежу в нем свой контент. А пока 
        br
        |             посмотрите как тут все классно икрасиво!
    .skills__level
      .skills__level-diagrams
        h4.headline-fourth-level Front-end
        ul.skills__level-diagrams__list
          li.skills__level-diagrams__elem
            .skills__level-diagrams__skill
              svg.skills__level-diagrams__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                circle.circle.circle__under(cx='50', cy='50', r='40')
                circle.circle.circle__above(cx='50', cy='50', r='40', style='animation-delay: -50s')
              .skills__level-diagrams__tool HTML5
          li.skills__level-diagrams__elem
            .skills__level-diagrams__skill
              svg.skills__level-diagrams__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                circle.circle.circle__under(cx='50', cy='50', r='40')
                circle.circle.circle__above(cx='50', cy='50', r='40', style='animation-delay: -30s')
              .skills__level-diagrams__tool CSS3
          li.skills__level-diagrams__elem
            .skills__level-diagrams__skill
              svg.skills__level-diagrams__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                circle.circle.circle__under(cx='50', cy='50', r='40')
                circle.circle.circle__above(cx='50', cy='50', r='40', style='animation-delay: -40s')
              .skills__level-diagrams__tool javaScript
          li.skills__level-diagrams__elem
            .skills__level-diagrams__skill
              svg.skills__level-diagrams__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                circle.circle.circle__under(cx='50', cy='50', r='40')
                circle.circle.circle__above(cx='50', cy='50', r='40', style='animation-delay: -90s')
              .skills__level-diagrams__tool jQuery и Vue.js
      // skills__level-diagrams
      .skills__level-diagrams
        h4.headline-fourth-level Workflow
        ul.skills__level-diagrams__list
          li.skills__level-diagrams__elem
            .skills__level-diagrams__skill
              svg.skills__level-diagrams__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                circle.circle.circle__under(cx='50', cy='50', r='40')
                circle.circle.circle__above(cx='50', cy='50', r='40', style='animation-delay: -40s')
              .skills__level-diagrams__tool GIT
          li.skills__level-diagrams__elem
            .skills__level-diagrams__skill
              svg.skills__level-diagrams__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                circle.circle.circle__under(cx='50', cy='50', r='40')
                circle.circle.circle__above(cx='50', cy='50', r='40', style='animation-delay: -5s')
              .skills__level-diagrams__tool Terminal
          li.skills__level-diagrams__elem
            .skills__level-diagrams__skill
              svg.skills__level-diagrams__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                circle.circle.circle__under(cx='50', cy='50', r='40')
                circle.circle.circle__above(cx='50', cy='50', r='40', style='animation-delay: -0s')
              .skills__level-diagrams__tool Gulp
          li.skills__level-diagrams__elem
            .skills__level-diagrams__skill
              svg.skills__level-diagrams__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                circle.circle.circle__under(cx='50', cy='50', r='40')
                circle.circle.circle__above(cx='50', cy='50', r='40', style='animation-delay: -50s')
              .skills__level-diagrams__tool Webpack
      // skills__level-diagrams
  
     
