.leaves
    +image('content/leaves.png', 'leaves')
section.section.section__comments
    .container.comments__container
        .section__comments-headline
            h2.headline_second-level.comments__headline Что обо мне говорят
            .slider__comments-buttons
                .slider__comments-button__circle
                    svg.slider__comments-circle__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                        circle.circle__comment(cx='50', cy='50', r='40')
                    .slider__button-arrow.left.white__style
                        +icon(`arrow-down`, '.slider__button-arrow__left-svg')
                .slider__comments-button__circle
                    svg.slider__comments-circle__svg(viewBox='0 0 100 100', preserveAspectRatio='none')
                        circle.circle__comment(cx='50', cy='50', r='40')
                    .slider__button-arrow.right.white__style
                        +icon(`arrow-down`, '.slider__button-arrow__right-svg')
        .comments__content
            ul.comments__content-list
                li.comments__content-elem
                    .quote
                        +icon(`quote`, '.quote-svg')
                    .comments__content-elem__feedback
                        .comments__content-elem__feedback-text 
                            | Этот код выдержит любые испытания.
                            br
                            | Только пожалуйста, не загружайте сайт на
                            br
                            | слишком старых браузерах
                        .comments__content-elem__feedback-user-card
                            .feedback-user-card-image       
                                +image('content/my_photo.png', 'user-pic comments')
                            .feedback-user-card-info
                                .feedback-user-card-name Владимир Сабанцев
                                .feedback-user-card-position Преподаватель
                li.comments__content-elem
                    .quote
                        +icon(`quote`, '.quote-svg')
                    .comments__content-elem__feedback
                        .comments__content-elem__feedback-text 
                            | Этот парень проходил обучение
                            br
                            | веб-разработке не где-то, а в LoftSchool!
                            br
                            | 4,5 месяца только самых тяжелых
                            br
                            | испытаний и бессонных ночей!
                        .comments__content-elem__feedback-user-card
                            .feedback-user-card-image       
                                +image('content/my_photo.png', 'user-pic comments')
                            .feedback-user-card-info
                                .feedback-user-card-name Ковальчук Дмитрий
                                .feedback-user-card-position Основатель Loftschool
                li.comments__content-elem
                    .quote
                        +icon(`quote`, '.quote-svg')
                    .comments__content-elem__feedback
                        .comments__content-elem__feedback-text 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, maiores asperiores. Et dolor hic error id assumenda quos dolore. Enim ipsum non, libero quibusdam doloremque nesciunt explicabo nobis veniam reiciendis?
                        .comments__content-elem__feedback-user-card
                            .feedback-user-card-image       
                                +image('content/my_photo.png', 'user-pic comments')
                            .feedback-user-card-info
                                .feedback-user-card-name Петя Смирнов
                                .feedback-user-card-position Властелин участка
                li.comments__content-elem
                    .quote
                        +icon(`quote`, '.quote-svg')
                    .comments__content-elem__feedback
                        .comments__content-elem__feedback-text 
                            | Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Своего себя родного, курсивных домах путь страну за! Коварных, вскоре. Вскоре использовало снова жаренные которое lorem себя букв по всей строчка.
                        .comments__content-elem__feedback-user-card
                            .feedback-user-card-image       
                                +image('content/my_photo.png', 'user-pic comments')
                            .feedback-user-card-info
                                .feedback-user-card-name Вася Васечкин
                                .feedback-user-card-position Студент
                li.comments__content-elem
                    .quote
                        +icon(`quote`, '.quote-svg')
                    .comments__content-elem__feedback
                        .comments__content-elem__feedback-text 
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quaerat nisi repellat, corporis quidem, cumque natus facere quo dolor culpa est perspiciatis aliquam! Voluptas repellendus corrupti ea dolorum. Consequatur, repellat illum, recusandae rem ex reprehenderit blanditiis nam quaerat, voluptatum quasi tempora. Ratione expedita autem eligendi nisi iusto deleniti obcaecati quam!                                                          
                        .comments__content-elem__feedback-user-card
                            .feedback-user-card-image       
                                +image('content/my_photo.png', 'user-pic comments')
                            .feedback-user-card-info
                                .feedback-user-card-name Иван Иванов
                                .feedback-user-card-position Преподаватель Loftschool