section.section.section__feedback#section__feedback(data-link="section__feedback")
    .container.feedback__container
        .section__feedback-headline
            h2.headline_second-level.feedback__headline Связаться со мной
        #form-component
