section.section.section__my-card
  .container.my-card__container
    .my-card__left
      .my-card__photo
        +image('content/my_photo.png', 'user-pic')
      .my-card__profile
        ul.my-card__profile-list
          li.my-card__profile-elem
            .profile-elem__head-column
              | Проживаю:
            .profile-elem__content-column
              | Сургут
          li.my-card__profile-elem
            .profile-elem__head-column
              | Возраст:
            .profile-elem__content-column
              | 30лет
          li.my-card__profile-elem
            .profile-elem__head-column
              | Родился:
            .profile-elem__content-column
              | 25 октября 1988
    // my-card__left
    .my-card__right
      .my-card__about-me
        p.my-card__about-me__paragraph.first-paragraph
          | Приветствую, меня зовут 
          br
          span Сергей Черепанов
          br
          |                             Я занимаюсь разаботкой современных сайтов и приложений. 
          br
          |                             Мне нравится делать интересные и современные проекты.
      .my-card__my-education
        p.my-card__about-me__paragraph.second-paragraph
          | Этот сайт я сделал в рамках обучения в школе онлайн образования 
          br
          |                             LoftSchool. Чуть позже я освежу в нем свой контент. А пока 
          br
          |                             посмотрите как тут все классно икрасиво!
        .my-card__my-education__star
          
