script(type="text/x-template")#feedback-popup-container
    .feedback-popup__container
        .feedback-popup__window
            p.feedback-popup__error
            button(@click.prevent='feedbackPopupClose').feedback-popup__btn Закрыть