script(type="text/x-template")#skillsId
    .skills__level
        ul.skills__level-diagrams
            li.skills__level-diagrams__row(
                v-for="category in categories" 
                :key="category.category"
                )
                skills-row(
                    :category='category'
                    :skills="filterSkillsById(category.id)"              
                )
                
                
script(type="text/x-template")#skills-row
    h4.headline-fourth-level {{category.category}}
        ul.skills__level-diagrams__list
            li.skills__level-diagrams__elem(
                v-for="skill in skills" 
                :key="skill.id"
            )
                skill(
                   :skill="skill" 
                )


script(type="text/x-template")#skill
    .skills__level-diagrams__skill
        svg.skills__level-diagrams__svg(viewBox='0 0 100 100')
            circle.circle.circle__under(cx='50' cy='50' r='40')
            circle.circle.circle__above(cx='50' cy='50' r='40' ref="color-circle")
        .skills__level-diagrams__tool {{skill.title}}