include ./mixins.pug

<!DOCTYPE html>
html(lang='rus')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Port
  body
    .wrapper      
      include ./pug/section_hero
      include ./pug/section_myCard
      .container__hands-and-keyboard
        include ./pug/section_skills
        include ./pug/section_my-works
      .container__autumn-background
        include ./pug/section_comments
        include ./pug/section_feedback
      include ./pug/footer

        
        